modules = ["php-8.2", "web", "php-8.4", "nodejs-24"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Laravel App"

[[workflows.workflow]]
name = "Laravel App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export APP_KEY=\"base64:yFxCmDc6+MYMWSJ3JC+IsEnx9jhdLFihBe/qOS909pU=\" && export APP_ENV=\"local\" && export APP_DEBUG=\"true\" && export DB_CONNECTION=\"sqlite\" && export APP_URL=\"https://b2b49d03-2aa0-4839-a5a8-141cab3143e7-00-1kc1mcgmjnoxt.sisko.replit.dev\" && npx concurrently -c \"#93c5fd,#c4b5fd\" \"php artisan serve --host=0.0.0.0 --port=5000\" \"npm run dev\" --names=server,vite --kill-others"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 44445
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["php", "artisan", "serve", "--host=0.0.0.0", "--port=5000", "--env=production"]
build = ["bash", "-c", "npm ci && npm run build && php artisan config:cache && php artisan route:cache && php artisan view:cache"]
